@import 'tailwindcss';

:root {
  --grey: #b1b1b1;
  --grey-light: #eaeaea;
  --blue: #0d92f4;
  --green: #6bcb77;
  --red: #f95454;
}

@theme {
  --font-roboto: var(--font-roboto);
  --color-grey: var(--grey);
  --color-grey-light: var(--grey-light);
  --color-green: var(--color-green-500);
  --color-blue: var(--color-blue-500);
  --color-red: var(--color-red-500);
}

body {
  @apply font-roboto text-sm bg-black overflow-x-hidden;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.react-toggle-thumb {
  box-shadow: none !important;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}
